stages:
    - stage_build

variables:
  IMAGE_NAME: web4_svelte
  FULL_IMAGE: ${CI_REGISTRY}/${IMAGE_NAME}

build_job:
  stage: stage_build
  tags:
    - docker
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - echo '---Build Started---'
    - docker build -t ${FULL_IMAGE}:latest .
    - docker push ${FULL_IMAGE}:latest
    - echo '---Build Completed---'

