stages:
    - stage_build

variables:
  IMAGE_NAME: web4_svelte

build_job:
  stage: stage_build
  image: docker:27
  script:
    - echo '---Build Started---'
    - docker login -u $CI_REGISTRY_USER -p $REGISTRY_PASSWORD host.docker.internal:5050
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:latest
    - echo '---Build Completed---'

