stages:
    - stage_build

variables:
  IMAGE_NAME: web4_svelte

build_job:
  stage: stage_build
  script:
    - echo '---Build Started---'
    - docker login $CI_REGISTRY -u $CI_REGISTRY_USER  -p $CI_REGISTRY_PASSWORD
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:latest
    - echo '---Build Completed---'

