stages:
    - stage_build

variables:
  IMAGE_NAME: web4_svelte

build_job:
  stage: stage_build
  tags:
    - docker
  before_script:
    - echo "$DOCKER_REGISTRY_PASS" | docker login $DOCKER_REGISTRY --username $DOCKER_REGISTRY_USER --password-stdin
  script:
    - echo '---Build Started---'
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:latest
    - echo '---Build Completed---'

