stages:
    - stage_install
    - stage_lint
    - stage_test
    - stage_build

variables:
  IMAGE_NAME: web4_svelte
  FULL_IMAGE: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${IMAGE_NAME}

default:
  cache:
    key:
      files:
        - package-lock.json
    paths:
      - node_modules
    policy: pull-push


install_job:
  stage: stage_install
  image: node:25-alpine
  rules:
    - changes:
        - package.json
        - package-lock.json
      when: on_success
    - when: never
  script:
    - echo "--- Installing dependencies ---"
    - npm install
    - echo "--- Dependencies installed ---"

lint_job:
  stage: stage_lint
  image: node:25-alpine
  script:
    - echo "--- Running ESLint ---"
    - npm install
    - npx eslint src/ --format stylish || echo "ESLint found issues"
    - npx eslint src/ -o eslint_report
    - echo "--- ESLint complete ---"

test_job:
  stage: stage_test
  image: node:25-alpine
  script:
    - echo "--- Running Vitest ---"
    - npm test
    - echo "--- Vitest complete ---"

build_job:
  stage: stage_build
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
      when: on_success
  tags:
    - shell
  before_script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u $CI_REGISTRY_USER --password-stdin
  script:
    - echo '--- Build Started ---'
    - docker build -t ${FULL_IMAGE} .
    - docker push ${FULL_IMAGE}
    - echo '--- Build Completed ---'