stages:
    - stage_build

variables:
  IMAGE_NAME: web4_svelte

build_job:
  stage: stage_build
  tags:
    - docker
  before_script:
    - docker login $DOCKER_REGISTRY -u $DOCKER_REGISTRY_USER -p $DOCKER_REGISTRY_PASS
  script:
    - echo '---Build Started---'
    - docker build -t $IMAGE_NAME:latest .
    - docker push $IMAGE_NAME:latest
    - echo '---Build Completed---'

