@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
:root {
  background-color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "primeicons";
}

header {
  margin-bottom: 2em;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

label {
  margin: 1em;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h4,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

input,
button,
textarea,
select {
  border: 1px solid transparent;
  accent-color: oklch(from #ff6500 calc(l * 1.8) c h);
  background-color: rgba(126, 126, 126, 0.15);
  transition: all 0.1s ease;
}

:is(input, button, textarea, select):not(:disabled):hover {
  border-color: rgba(126, 126, 126, 0.15);
}

button:hover:not(:disabled),
button:focus:not(:disabled),
button:active:not(:disabled),
input[type=checkbox]:hover:not(:disabled),
input[type=checkbox]:focus:not(:disabled),
input[type=checkbox]:active:not(:disabled),
input[type=submit]:hover:not(:disabled) {
  cursor: pointer;
}

input[type=text] {
  min-height: 2em;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

.center-aligner,
.grid-aligner {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.center-aligner {
  display: flex;
  align-items: center;
}

.grid-aligner {
  display: grid;
  align-items: start;
}

.err {
  min-height: 1em;
  visibility: hidden;
  color: red;
}
.err.show {
  visibility: visible;
}

canvas,
fieldset,
#requestTable {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  border-radius: 1em;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shadowed-box {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
  border-radius: 1em;
}

.btn-general {
  background: white;
  border-color: lightgray;
  color: black;
  border-radius: 1.3em;
  padding: 0.5em;
  margin: 0.5em;
  min-width: 2.5em;
  transition: background-color 0.3s ease;
}
.btn-general:not(:disabled):hover {
  background-color: oklch(from #ff6500 calc(l * 1.8) c h);
  color: white;
}
.btn-general:disabled:hover {
  cursor: not-allowed;
}

main .main-table {
  position: relative;
}
main .main-table tr td:nth-child(3) {
  vertical-align: top;
}

#requestTable {
  border-collapse: separate;
  border-spacing: 0;
  width: max-content;
  overflow-wrap: break-word;
}
#requestTable th {
  background-color: #1b1111;
}
#requestTable td,
#requestTable th {
  padding: 0 10px 0 10px;
  min-width: 25px;
  text-align: center;
  border: 1px solid #ccc;
}
#requestTable tr {
  transition: background-color 0.3s ease;
}
#requestTable tr:not(thead tr):hover {
  background-color: #c0c0c0;
  cursor: pointer;
}
#requestTable tr td:nth-child(3) {
  vertical-align: middle;
}
#requestTable tr:first-child th:first-child {
  border-top-left-radius: 1em;
}
#requestTable tr:first-child th:last-child {
  border-top-right-radius: 1em;
}
#requestTable tr:last-child td:first-child {
  border-bottom-left-radius: 1em;
}
#requestTable tr:last-child td:last-child {
  border-bottom-right-radius: 1em;
}

#pagination-controls {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
}
#pagination-controls .pagination-row {
  display: flex;
  justify-content: center;
}
#pagination-controls button.btn-general {
  display: flex;
  align-items: center;
  justify-content: center;
}
#pagination-controls #page-info {
  min-width: 3em;
  font-weight: bold;
  margin: 0 0.5em;
}
#pagination-controls select {
  margin: 0.5em;
  padding: 0.2em 0.5em;
  border-radius: 1em;
  border: 1px solid #ccc;
}

/*# sourceMappingURL=style.css.map */
