@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

$border-radius: 1em;

$orange: #ff6500;
$light-orange: oklch(from $orange calc(l * 1.8) c h);
$hover-bg: #c0c0c0;
$border-radius: 1em;
$box-shadow: 2px 2px 2px 2px rgb(235, 235, 235);
$transition: background-color 0.3s ease;

@mixin rounded-corners($position) {
  @if $position == top-left {
    border-top-left-radius: $border-radius;
  } @else if $position == top-right {
    border-top-right-radius: $border-radius;
  } @else if $position == bottom-left {
    border-bottom-left-radius: $border-radius;
  } @else if $position == bottom-right {
    border-bottom-right-radius: $border-radius;
  }
}

:root {
  background-color: whitesmoke;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif, "primeicons";
}

header {
  margin-bottom: 2em;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

label {
  margin: 1em;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h4,
h4,
button,
input,
label {
  line-height: 1.1;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

main {
  // table {
  //   width: 100%;

  //   td {
  //     text-align: center;
  //     vertical-align: middle;
  //   }
  // }
}

input,
button,
textarea,
select {
  border: 1px solid transparent;
  accent-color: $light-orange;
  background-color: rgba(126, 126, 126, 0.15);
  transition: all 0.1s ease;
}

:is(input, button, textarea, select):not(:disabled):hover {
  border-color: rgba(126, 126, 126, 0.15);
}

button:hover,
button:focus,
button:active,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:active,
input[type="submit"]:hover {
  &:not(:disabled) {
    cursor: pointer;
  }
}

input[type="text"] {
  min-height: 2em;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

fieldset {
  border: 0;
}

a {
  text-decoration: none;
}

.center-aligner,
.grid-aligner {
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.center-aligner {
  display: flex;
  align-items: center;
}

.grid-aligner {
  display: grid;
  align-items: start;
}

.err {
  min-height: 1em;
  visibility: hidden;
  color: red;

  &.show {
    visibility: visible;
  }
}

canvas,
fieldset,
#requestTable {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.5rem;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-aligner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.shadowed-box {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
}

.btn-general {
  background: white;
  border-color: lightgray;
  color: black;

  border-radius: $border-radius + 0.3em;
  padding: 0.5em;
  margin: 0.5em;

  min-width: 2.5em;

  transition: $transition;

  &:not(:disabled):hover {
    background-color: $light-orange;
    color: white;
  }

  &:disabled:hover {
    cursor: not-allowed;
  }
}

main {
  .main-table {
    position: relative;

    tr td:nth-child(3) {
      vertical-align: top;
    }
  }
}

#requestTable {
  border-collapse: separate;
  border-spacing: 0;
  width: max-content;
  overflow-wrap: break-word;

  th {
    background-color: #1b1111;
  }

  td,
  th {
    padding: 0 10px 0 10px;
    min-width: 25px;
    text-align: center;
    border: 1px solid #ccc;
  }

  tr {
    transition: $transition;

    &:not(thead tr):hover {
      background-color: $hover-bg;
      cursor: pointer;
    }
  }

  tr td:nth-child(3) {
    vertical-align: middle;
  }

  tr:first-child {
    th:first-child {
      @include rounded-corners(top-left);
    }

    th:last-child {
      @include rounded-corners(top-right);
    }
  }

  tr:last-child {
    td:first-child {
      @include rounded-corners(bottom-left);
    }

    td:last-child {
      @include rounded-corners(bottom-right);
    }
  }
}

#pagination-controls {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 0.5em;
  border-radius: $border-radius;

  .pagination-row {
    display: flex;
    justify-content: center;
  }

  button.btn-general {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #page-info {
    min-width: 3em;
    font-weight: bold;
    margin: 0 0.5em;
  }

  select {
    margin: 0.5em;
    padding: 0.2em 0.5em;
    border-radius: $border-radius;
    border: 1px solid #ccc;
  }
}
