@use 'sass:color';

@use '@material/theme/color-palette';

$orange: #ff6500;
$light-orange: color.scale($orange, $lightness: 60%);

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: $light-orange,
  $secondary: #676778,
  $surface: #fff,
  $background: #fff,
  $error: color-palette.$red-900
);

html,
body {
  background-color: theme.$surface;
  color: theme.$on-surface;
}

a {
  color: #40b3ff;
}
a:visited {
  color: color.scale(#40b3ff, $lightness: -35%);
}
